<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td>
                            <img *ngIf='showImage' 
                            [src]='product.imageUrl' 
                            [style.width.px]='imageWidth'
                            [style.margine.px]='imageMargine'
                            [title]='product.productName | uppercase'> </td>
                            <td>
                                {{product.productName}}
                            </td>
                            <td> {{product.productCode | lowercase }} </td>
                            <td> {{product.releaseDate}} </td>
                            <td> {{product.price | currency:'USD':true:'1.2-2'}}</td>
                            <td> {{product.starRating}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>