<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Prerak Shah</h3>
            <div class="row">
                <img src="app/assets/momdad.jpg" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px"
                />
            </div>
            <div class="text-center">@preakshah</div>

        </div>
    </div>
</div>